.mods-stats{
  grid-template-columns:repeat(6,minmax(0,1fr));
}

.mods-stats article{
  min-width:0;
  padding:15px;
}

@media(max-width:1200px){
  .mods-stats{grid-template-columns:repeat(3,minmax(0,1fr))}
}

@media(max-width:700px){
  .mods-stats{grid-template-columns:repeat(2,minmax(0,1fr))}
}

@media(max-width:440px){
  .mods-stats{grid-template-columns:1fr}
}
